{%extends "base.html"%}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Bem Vindo ao site da intrinseca !!!</h1>
<img src="https://mir-s3-cdn-cf.behance.net/projects/404/1decbd130089415.Y3JvcCwxMzgwLDEwODAsMjcwLDA.png" alt="logo da intrinseca">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat facilis impedit expedita nobis repellendus? Aspernatur aliquid eum repellendus tempora temporibus provident, quam autem sunt ab consectetur pariatur aliquam veniam necessitatibus!</p>
{% endblock %}
