{%extends "text-base.html"%}

{% block title %}22222222222222{% endblock %}
{% block titulo %}2222222222222{% endblock %}

{% block content %}
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio minus iste vitae quis sapiente maiores hic tenetur ab minima nihil dolorem accusantium laudantium, quas laborum asperiores dolore at atque quod?
    Cumque quod ipsam aliquid, amet odit illo corporis dolorum ipsum unde sunt voluptatibus harum, ab itaque minus non ullam! Tenetur, reprehenderit! Debitis architecto sequi pariatur corporis sit hic libero itaque?
    Quis aliquid qui veritatis aliquam ratione, corporis deserunt sed fuga aperiam laboriosam voluptas molestiae dolorum mollitia laborum. Sint ipsum officiis soluta autem velit perspiciatis reiciendis, saepe repellendus praesentium optio earum!</p>
{% endblock %}
    